.review {
  background: #fff;
  padding: 10px 10px;
  margin: 10px 0;
  border: 1px solid #bbb;
  border-radius: 5px;

  .author {
    display: inline-block;
    font-size: 120%;
  }
  .date {
    float: right;
    color: #aaa;
  }
  .rating {
    .stars {
      color: gold;
    }
  }
  .description {
    background-color: #f7f7f7;
    padding: 7px;
    margin: 0px 0px;
  }

}
